@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home-page-bg-container {
    height: 100vh;
    background-size: cover;
    font-family: "roboto";
}

.home-page-top-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    height: 30vh;
    background-size: cover;
}

.home-page-top-container-heading {
    color: #ffffff;
    padding: 20px;
    font-size: 30px;
}

.home-page-bottom-container {
    padding: 25px;
}

.podcast-video {
    margin-top: 20px;
}

.podcast-video-row2 {
    margin-top: 20px;
}

.image {
    height: 110px;
    width: 140px;
}

.text-content {
    text-align: center;
    width: 140px;
}

.podcast-video-name {
    color: #151765;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.podcast-video-description {
    color: #5a7184;
    font-size: 14px;
    margin: -5px;
}


.podcast-bg-container {
    background-color: #ffffff;
    height: 100vh;
    background-size: cover;
    font-family: "roboto";
    padding: 5px;
}

.podcast-top-bg-container {
    background-color: #151765;
    height: 20vh;
    background-size: cover;
    padding: 20px;
}

.podcast-image {
    height: 100px;
    width: 120px;
}

.podcast-details {
    margin-left: 8px;
}

.sub-title {
    color: #ffffff;
    font-size: 10px;
}

.main-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.main-title-description {
    color: #ffffff;
    font-size: 12px;
}

.podcast-bottom-bg-container {
    background-color: #ffffff;
    height: 80vh;
    background-size: cover;
    padding: 20px;
}

.bottom-video-details {
    padding-left: 10px;
}

.bottom-video-title {
    color: #151765;
    font-size: 15px;
    font-weight: bold;
}

.bottom-video-description {
    color: #5a7184;
    font-size: 14px;
}

.bottom-video-time {
    color: #151765;
    font-size: 10px;
}

.button {
    text-align: right;
}

.btn {
    background-color: #151765;
    border-color: #151765;
    border-radius: 24px;
    width: 100px;
    font-size: 15px;
}